#Order_Request_Form .sfm_textbox
{
    padding:1px;
}
#Order_Request_Form .sfm_textarea
{
    padding:2px;
    resize:none;
}
#Order_Request_Form .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#Order_Request_Form img
{
    border:0;
}
#Order_Request_Form .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#Order_Request_Form input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#Order_Request_Form .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#Order_Request_Form .sfm_cr_box a
{
    color:#888888;
}
#Order_Request_Form .sfm_slider
{
    margin:0;
    display:inline-bock;
}
#Order_Request_Form .slider_label
{
    padding-top:5px;
    padding-left:3px;
    overflow:visible;
    display:inline-block;
}
#Order_Request_Form .form_outer_div
{
    border:none;
    background-color:#ffffff;
}
#Order_Request_Form .sfm_form_label
{
    background-color:transparent;
}
#Order_Request_Form .element_label
{
    background-color:transparent;
}
body#sfm_Order_Request_Form_body
{
    background-color:transparent;
    font-family:Arial;
    font-size:medium;
    color:#000000;
    margin:0px;
}
#Order_Request_Form .form_outer_div
{
    font-family:Arial;
    font-size:medium;
    color:#000000;
}
#Order_Request_Form .form_subheading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#Order_Request_Form .sfm_float_error_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
    background:none repeat scroll 0 0 #333333;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:none;
}
#Order_Request_Form .sfm_close_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
}
#Order_Request_Form .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
#Order_Request_Form .progress_box
{
    background-color:#333333;
    width:2px;
    float:left;
    margin:2px;
}
#Order_Request_Form .page_heading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#Order_Request_Form .page_number
{
    background-color:transparent;
}
#Order_Request_Form input[type='text'],input[type='password'],input[type='email'],input[type='tel'],input[type='number']
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:23px;
    line-height:23px;
}
#Order_Request_Form textarea
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


#Order_Request_Form #t057fcf48e7463d0ab423
{
    width:5px;
    height:5px;
    display:none;
}
#Order_Request_Form #Name_container
{
    z-index:1;
}
#Order_Request_Form #Name
{
    float:left;
    z-index:1;
}
#Order_Request_Form #Email_container
{
    z-index:2;
}
#Order_Request_Form #Email
{
    float:left;
    z-index:2;
}
#Order_Request_Form #Custom_Order_Options_0_container
{
    z-index:3;
}
#Order_Request_Form #Custom_Order_Options_1_container
{
    z-index:4;
}
#Order_Request_Form #Custom_Order_Options_2_container
{
    z-index:5;
}
#Order_Request_Form #Custom_Order_Options_3_container
{
    z-index:6;
}
#Order_Request_Form #Custom_Order_Options_4_container
{
    z-index:7;
}
#Order_Request_Form #Custom_Order_Options_5_container
{
    z-index:8;
}
#Order_Request_Form #Custom_Order_Options_6_container
{
    z-index:9;
}
#Order_Request_Form #Custom_Order_Options_7_container
{
    z-index:10;
}
#Order_Request_Form #Custom_Order_Options_8_container
{
    z-index:11;
}
#Order_Request_Form #Custom_Order_Options_9_container
{
    z-index:12;
}
#Order_Request_Form #Custom_Order_Options_10_container
{
    z-index:13;
}
#Order_Request_Form #Custom_Order_Options_11_container
{
    z-index:14;
}
#Order_Request_Form #Custom_Order_Options_12_container
{
    z-index:15;
}
#Order_Request_Form #Custom_Order_Options_13_container
{
    z-index:16;
}
#Order_Request_Form #Custom_Order_Options_14_container
{
    z-index:17;
}
#Order_Request_Form #Other_container
{
    z-index:18;
}
#Order_Request_Form #Multiline_container
{
    z-index:19;
}
#Order_Request_Form #Multiline
{
    height:66px;
}
#Order_Request_Form #Multiline
{
    float:left;
    z-index:19;
}
#Order_Request_Form #Submit_container
{
    z-index:20;
}
#Order_Request_Form #Order_Request_Form_Submit_img
{
    width:197px;
    height:41px;
    border:none;
}

#Order_Request_Form #Order_Request_Form_outer_div_p1
{
    width:400px;
    height:500px;
}
#Order_Request_Form #Name_container
{
    position:absolute;
    left:101px;
    top:33px;
}
#Order_Request_Form #Name
{
    width:183px;
    height:19px;
}
#Order_Request_Form #Email_container
{
    position:absolute;
    left:101px;
    top:73px;
}
#Order_Request_Form #Email
{
    width:182px;
    height:19px;
}
#Order_Request_Form #Custom_Order_Options_0_container
{
    position:absolute;
    left:167px;
    top:220px;
    width:80px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_1_container
{
    position:absolute;
    left:259px;
    top:213px;
    width:92px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_2_container
{
    position:absolute;
    left:55px;
    top:123px;
    width:129px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_3_container
{
    position:absolute;
    left:167px;
    top:249px;
    width:80px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_4_container
{
    position:absolute;
    left:257px;
    top:122px;
    width:80px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_5_container
{
    position:absolute;
    left:54px;
    top:155px;
    width:148px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_6_container
{
    position:absolute;
    left:53px;
    top:188px;
    width:147px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_7_container
{
    position:absolute;
    left:259px;
    top:183px;
    width:101px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_8_container
{
    position:absolute;
    left:258px;
    top:152px;
    width:80px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_9_container
{
    position:absolute;
    left:54px;
    top:221px;
    width:96px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_10_container
{
    position:absolute;
    left:259px;
    top:247px;
    width:80px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_11_container
{
    position:absolute;
    left:54px;
    top:251px;
    width:80px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_12_container
{
    position:absolute;
    left:166px;
    top:279px;
    width:80px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_13_container
{
    position:absolute;
    left:260px;
    top:279px;
    width:80px;
    height:22px;
}
#Order_Request_Form #Custom_Order_Options_14_container
{
    position:absolute;
    left:54px;
    top:280px;
    width:106px;
    height:22px;
}
#Order_Request_Form #Other_container
{
    position:absolute;
    left:56px;
    top:308px;
    width:80px;
    height:14px;
}
#Order_Request_Form #Multiline_container
{
    position:absolute;
    left:53px;
    top:329px;
}
#Order_Request_Form #Multiline
{
    width:285px;
    height:60px;
}
#Order_Request_Form #Submit_container
{
    position:absolute;
    left:105px;
    top:404px;
    width:193px;
    height:37px;
}
